* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("bg.png");
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#maze-container {
    border: 10px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    border-radius: 5px;
}

.row {
    display: flex;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: white;
}

.wall {
    background-color: black;
    
}

#guy {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#door {
    position: absolute;
    bottom: 0px;
    right: 0px;
}


select {
    width: 150px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
}


p {
    background-color: antiquewhite;
    display: inline-flex;
    font-size: 20px;
    height: 50px;
    justify-content: center;
    width: 100px;
    margin: 0;
    align-items: center;
}